{% extends '@!HCHChatBot/widget.html.twig' %}

{% block chatbot_header %}
    <div class="custom-header">
        {{ parent() }}
        <div class="custom-controls">
            <!-- Vos contrôles personnalisés -->
        </div>
    </div>
{% endblock %} 