{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('HCHChatBotBundle') }}
{% endblock %}

{% block body %}
    <div class="chat-container">
        {% include '@HCHChatBot/components/chat_box.html.twig' %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('HCHChatBotBundle') }}
{% endblock %} 